extends layout

block content
  h1= title
  form(method='GET' action='https://accounts.google.com/o/oauth2/v2/auth')
    input#name.form-control(type='text', name='client_id' value='907113127809-0pmnffpdsuf6epqbs7g41215pke1eum7.apps.googleusercontent.com')
    input#name.form-control(type='text', name='response_type' value='code')
    input#name.form-control(type='text', name='redirect_uri' value='https://eliasopenidconnect.herokuapp.com/callback')
    input#name.form-control(type='text', name='login_hint' value='gelias@umov.me')
    input#name.form-control(type='text', name='scope' value='openid email')
    input#name.form-control(type='text', name='state' value='91263871627832323')

    button.btn.btn-primary(type='submit') Sign in
